body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.header-image {
    width: 150px;
    height: auto;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
}

/* Título principal y contenedor de carga */
h1 {
    color: #cc0000;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
}

.file-upload-container {
    flex: 1;
    max-width: 400px;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Estilos para la tabla de pedidos */
.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.orders-table th,
.orders-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.orders-table th {
    background-color: #cc0000;
    color: #fff;
}

.orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.orders-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para botones */
button {
    background-color: #cc0000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #990000;
}

.copy-button {
    background-color: #cc0000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 10px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .file-upload-container {
        max-width: 100%;
    }
}
